<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Block title -->
    <title>{% block title %}{% endblock %}</title>
 
    <!-- Block CSS -->
    {% block css %}
    <link rel="stylesheet" href="{{ BASE_URL }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ BASE_URL }}/css/nav.css">
    {% endblock %}
</head>
<body>
    <!-- Navigasi -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ BASE_URL }}">BANTUAN COVID</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" id="tombolNav">
                    <li class="nav-item active">
                        <a class="nav-link"  href="{{ BASE_URL }}"><strong>Home</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ BASE_URL }}/bantu"><strong>Bantu</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ BASE_URL }}/rekap"><strong>Rekap</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 
 
    <!-- Block Body -->
    {% block body %}
        <h1>Hello World</h1>
    {% endblock %}
 
    <!-- Block Script -->
    {% block script %}
    <script src="{{ BASE_URL }}/js/jquery-3.5.0.min.js"></script>
    <script src="{{ BASE_URL }}/js/bootstrap.min.js"></script>
    <script src="{{ BASE_URL }}/js/popper.min.js"></script>
    <script src="{{ BASE_URL }}/js/script.js"></script>

    <script>
        var header = document.getElementById("tombolNav");
        var btns = header.getElementsByClassName("nav-item");
        for (var i = 0; i < btns.length; i++) {
          btns[i].addEventListener("click", function() {
          var current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active", "");
          this.className += " active";
          });
        }
    </script>
    {% endblock %}
</body>
</html>
