{% extends "layout.html" %}

{% block title %}Menu Bantuan{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Menu Bantuan</h1>
    
    <div class="row">
        <div class="col-8 mt-4">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary tombolTambahData" data-toggle="modal" data-target="#formModal">
                Tambahkan Bantuan
            </button>

        </br>
        </br>

            
            <h3>Daftar Bantuan</h3>

            <div class="row">
                <div class="col-8">
                    {{ flash.flash() }}
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <form action="{{ BASE_URL }}/bantuan/search" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Cari bantuan"  id="keyword" name="keyword">
                            <div class="input-group-append">
                              <button class="btn btn-primary" type="submit">Cari</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <ul class="list-group">
                {% for bantu in bantus %}
                <li class="list-group-item">
                    {{ bantu['nama'] }}
<!--                     
                    <a href="{{ BASE_URL }}/bantu/delete/{{ bantu['id'] }}" class="badge badge-danger float-right ml-1" onclick="return confirm('yakin?');">delete</a>

                    <a href="{{ BASE_URL }}/bantu/update/{{ bantu['id'] }}" class="badge badge-success float-right ml-1 tampilModalUbah" data-toggle="modal" data-target="#formModal" data-id="{{ agenda['id'] }}">update</a> -->

                    <a href="{{ BASE_URL }}/bantu/show/{{ bantu['id'] }}" class="badge badge-primary float-right ml-1">show</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="judulModal" aria-hidden="true">
    <form action="{{BASE_URL}}/bantu/add" method="POST">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="judulModal">Form Tambah Bantuan Baru</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <input type="hidden" name="id" id="id">

                    <div class="form-group">
                        <label for="title">Nama</label>
                        <input type="text" class="form-control" id="nama" name="nama"
                            placeholder="Masukkan Nama Penyumbang">
                    </div>

                    <div class="form-group">
                        <label for="description">Bantuan</label>
                        </br>
                        <label for="nama_bantuan">Nama Bantuan : </label>
                        </br>
                        <input type="text" id="nama_bantuan" name="nama_bantuan" placeholder="Masukkan Nama Bantuan :">
                        </br>
                        </br>
                        <label for="nama_bantuan">Jumlah Bantuan : </label>
                        </br>
                        <input type="text" id="jumlah_bantuan" name="jumlah_bantuan" placeholder="Masukkan Jumlah Bantuan :">
                    </div>
                    
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Tambah Data</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}